<%- include('admin_header') %>

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <!-- <h4 class="py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Account</h4> -->

              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-pills flex-column flex-md-row mb-4 gap-2 gap-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" href="javascript:void(0);"
                        ><i class="mdi mdi-account-outline mdi-20px me-1"></i>Account</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="pages-account-settings-notifications.html"
                        ><i class="mdi mdi-bell-outline mdi-20px me-1"></i>Notifications</a
                      >
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="pages-account-settings-connections.html"
                        ><i class="mdi mdi-link mdi-20px me-1"></i>Connections</a
                      >
                    </li>
                  </ul>
                  <div class="card mb-4">
                    <h4 class="card-header">Profile Details</h4>
                    <!-- Account -->
                    <form method="post" action="/admin/editProfile" enctype="multipart/form-data">
                      <input type="hidden" value="<%= locals.user.id %>" name="oldId">
                      <div class="card-body">
                        <div class="d-flex align-items-center gap-4">
                          <img
                            src="<%= locals.user.adminImage %>"
                            alt="user-avatar"
                            class="d-block w-px-120 h-px-120 rounded object-fit-cover"
                            id="uploadedAvatar" />
                          <div class="button-wrapper">
                            <label for="upload" class="btn btn-primary me-2 mb-3" tabindex="0">
                              <span class="d-none d-sm-block">Upload new photo</span>
                              <i class="mdi mdi-tray-arrow-up d-block d-sm-none"></i>
                              <input type="file" id="upload" class="account-file-input" hidden name="adminImage" />
                            </label>
                            <!-- <button type="button" class="btn btn-outline-danger account-image-reset mb-3">
                              <i class="mdi mdi-reload d-block d-sm-none"></i>
                              <span class="d-none d-sm-block">Reset</span>
                            </button> -->
                            <!-- <div class="text-muted small">Allowed JPG, GIF or PNG. Max size of 800K</div> -->
                          </div>
                        </div>
                      </div>
                      <div class="card-body pt-2 mt-1">
                          <div class="row mt-2 gy-4">
                            <div class="col-md-6">
                              <div class="form-floating form-floating-outline">
                                <% let [fname , lname] = locals.user.name.split(" ") %>
                                <input class="form-control" type="text" id="firstName" name="fname" value="<%= fname %>" placeholder="Enter First Name"  autofocus />
                                <label for="firstName">First Name</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-floating form-floating-outline">
                                <input class="form-control" type="text" id="lastName" name="lname" value="<%= lname %>" placeholder="Enter Last Name" />
                                <label for="lastName">Last Name</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-floating form-floating-outline">
                                <input class="form-control" type="text" id="email" name="email" value="<%= locals.user.email %>" placeholder="Enter Your Email" />
                                <label for="email">E-mail</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-floating form-floating-outline">
                                <!-- <input type="text" class="form-control" id="organization" name="organization" value="ThemeSelection" /> -->
                                <textarea class="form-control" id="message" name="description" placeholder="Enter Message"><%= locals.user.description %></textarea>
                                <label for="message">Message</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="row align-items-center">
                                <div class="col-md-2">
                                  <label for="hobby">Gender:</label>
                                </div>
                                <div class="col-md-5">
                                  <div class="input-group">
                                    <div class="input-group-text form-check mb-0" style="padding-top: 12.5px; padding-bottom: 12.5px;">
                                      <input class="form-check-input m-auto" id="male" name="gender" type="radio" value="male" <% if(locals.user.gender == 'male'){ %> checked <% } %> />
                                    </div>
                                    <label for="male" class="form-control" style="padding-top: 12.5px; padding-bottom: 12.5px;">Male</label>
                                  </div>
                                </div>
                                <div class="col-md-5">
                                  <div class="input-group">
                                    <div class="input-group-text form-check mb-0" style="padding-top: 12.5px; padding-bottom: 12.5px;">
                                      <input class="form-check-input m-auto" id="female" name="gender" type="radio" value="female" <% if(locals.user.gender == 'female'){ %> checked <% } %> />
                                    </div>
                                    <label for="female" class="form-control" style="padding-top: 12.5px; padding-bottom: 12.5px;">Female</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <% let city = ["Surat", "Ahmedabad", "Rajkot", "Gandhinagar", "Vadodara"] %>
                              <div class="form-floating form-floating-outline">
                                <select id="city" class="select2 form-select" name="city">
                                  <option value="" disabled selected>-- Select City --</option>
                                  <% city.map((v, i)=>{ %>
                                    <option value="<%= v %>" <% if(v == locals.user.city){ %> selected <% } %> ><%= v %></option>
                                  <% }) %>
                                </select>
                                <label for="city">Country</label>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="row align-items-center">
                                <div class="col-md-1">
                                  <label for="hobby">Hobby:</label>
                                </div>
                                <div class="col">
                                  <div class="input-group">
                                    <div class="input-group-text form-check mb-0" style="padding-top: 12.5px; padding-bottom: 12.5px;">
                                      <input class="form-check-input m-auto" id="reading" name="hobby" type="checkbox" value="reading" name="hobby" <% if(locals.user.hobby.includes('reading')){ %> checked <% } %> />
                                    </div>
                                    <label for="reading" class="form-control" style="padding-top: 12.5px; padding-bottom: 12.5px;">Reading</label>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="input-group">
                                    <div class="input-group-text form-check mb-0" style="padding-top: 12.5px; padding-bottom: 12.5px;">
                                      <input class="form-check-input m-auto" id="music" name="hobby" type="checkbox" value="music" name="hobby" <% if(locals.user.hobby.includes('music')){ %> checked <% } %> />
                                    </div>
                                    <label for="music" class="form-control" style="padding-top: 12.5px; padding-bottom: 12.5px;">Music</label>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="input-group">
                                    <div class="input-group-text form-check mb-0" style="padding-top: 12.5px; padding-bottom: 12.5px;">
                                      <input class="form-check-input m-auto" id="playing" name="hobby" type="checkbox" value="playing" name="hobby" <% if(locals.user.hobby.includes('playing')){ %> checked <% } %> />
                                    </div>
                                    <label for="playing" class="form-control" style="padding-top: 12.5px; padding-bottom: 12.5px;">Playing</label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="mt-4">
                            <button type="submit" class="btn btn-primary me-2">Save changes</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                          </div>
                      </div>
                    </form>
                    <!-- /Account -->
                  </div>
                  <div class="card">
                    <h5 class="card-header fw-normal">Delete Account</h5>
                    <div class="card-body">
                      <div class="mb-3 col-12 mb-0">
                        <div class="alert alert-warning">
                          <h6 class="alert-heading mb-1">Are you sure you want to delete your account?</h6>
                          <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                        </div>
                      </div>
                      <form id="formAccountDeactivation" onsubmit="return false">
                        <div class="form-check mb-3 ms-3">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="accountActivation"
                            id="accountActivation" />
                          <label class="form-check-label" for="accountActivation"
                            >I confirm my account deactivation</label
                          >
                        </div>
                        <button type="submit" class="btn btn-danger">Deactivate Account</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

<%- include('admin_footer') %>
