<link rel="stylesheet" href="/vendor/libs/quill/katex.css">
<link rel="stylesheet" href="/vendor/libs/quill/editor.css">
<link rel="stylesheet" href="/vendor/libs/select2/select2.css">
<link rel="stylesheet" href="/vendor/libs/dropzone/dropzone.css">
<link rel="stylesheet" href="/vendor/libs/flatpickr/flatpickr.css">
<link rel="stylesheet" href="/vendor/libs/tagify/tagify.css" />

<%- include('admin_header') %>
      <!-- Content wrapper -->
      <div class="content-wrapper">

        <!-- Content -->
        
          <div class="container-xxl flex-grow-1 container-p-y">
            
            

<h4 class="py-3 mb-4">
  <span class="text-muted fw-light">eCommerce /</span><span class="text-muted fw-light"> Brand /</span><span> Edit Brand</span>
</h4>

<div class="app-ecommerce">

  <!-- Add Admin -->

  <div class="row">

    <!-- First column-->
    <div class="col-12 col-lg-12">
      <!-- Product Information -->
      <div class="card mb-4">
        <div class="card-header">
          <h5 class="card-tile mb-0">Brand information</h5>
        </div>
        <div class="card-body">
          <form method="post" action="/admin/brand/editBrandData">
            <input type="hidden" name="oldId" value="<%= brandData.id %>" />
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label form-label" for="Category">Category:</label>
                <div class="col-sm-10">
                  <select id="Category" class="form-select form-select" name="category">
                    <option selected="" disabled="">-- Select Category --</option>
                        <% for(let category of categoryData){ %>
                            <option value="<%= category.id %>" <% if(category.id == brandData.category.id){ %> selected <% } %>><%= category.category_name %></option>
                        <% } %>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label form-label" for="Subcategory">Subcategory:</label>
                <div class="col-sm-10">
                  <select id="Subcategory" class="form-select form-select" name="subcategory">
                    <option selected="" disabled="">-- Select Subcategory --</option>
                    <% for(let subcategory of subcategoryData){ %>
                      <option value="<%= subcategory.id %>" <% if(subcategory.id == brandData.subcategory.id){ %> selected <% } %>><%= subcategory.subcategory_name %></option>
                    <% } %>
                  </select>
                </div>
              </div>
              <div class="row mb-3">
                <label class="col-sm-2 col-form-label form-label" for="ExtraCategory">Extra Category:</label>
                <div class="col-sm-10">
                  <select id="ExtraCategory" class="form-select form-select" name="extraCategory">
                    <option selected="" disabled="">-- Select Extra Category --</option>
                    <% for(let extraCategory of extraCategoryData){ %>
                      <option value="<%= extraCategory.id %>" <% if(extraCategory.id == brandData.extraCategory.id){ %> selected <% } %>><%= extraCategory.extraCategory_name %></option>
                    <% } %>
                  </select>
                </div>
              </div>
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label" for="basic-default-brand">Brand Name:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="basic-default-brand" placeholder="Enter Brand Name" name="brand_name" value="<%= brandData.brand_name %>" />
              </div>
            </div>
            <div class="row justify-content-end">
              <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Send</button>
                <button type="reset" class="btn btn-danger">Reset</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!-- /Product Information -->
    </div>
    <!-- /Second column -->

    
  </div>
</div>
          </div>
          <!-- / Content -->
<script>
</script>
<%- include('admin_footer') %>
